<h1><%= @cocktail.name %></h1>

<div class="container py-5">
  <div class="row">
    <% @doses.each do |plant| %>

    <div class="col-md-4 mb-3">

      <%= link_to plant_path(plant), class:'card-link' do %>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">

          <%= plant.name %>

        </div>

      <% end %>

      <%= link_to 'Destroy', plant_path(plant), method: :delete %>

    </div>

  <% end %>

  </div>

</div>